CONFIG_PREEMPT_RT=y

CONFIG_NET_DSA=y
CONFIG_NET_DSA_TAG_OCELOT=y
CONFIG_NET_DSA_MSCC_FELIX=y
CONFIG_MSCC_FELIX_SWITCH_TSN=y
CONFIG_NET_SCH_INGRESS=y
CONFIG_NET_SCH_CBS=y

CONFIG_FSL_ENETC_HW_TIMESTAMPING=y
CONFIG_NET_SCH_INGRESS=y
CONFIG_NET_ACT_POLICE=y
CONFIG_NET_ACT_GACT=y
CONFIG_DEBUG_INFO=n

CONFIG_FTRACE=y
CONFIG_FUNCTION_TRACER=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_PREEMPT_TRACER=y
CONFIG_HWLAT_TRACER=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_HIST_TRIGGERS=y

CONFIG_DYNAMIC_DEBUG=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_BOOTPARAM_HUNG_TASK_PANIC=y
CONFIG_WQ_WATCHDOG=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_PANIC_TIMEOUT=3

CONFIG_NETFILTER=n

CONFIG_USB_ACM=y
CONFIG_USB_NET_CDCETHER=y
